# Object files
*.o
*.ko
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.mod

# Executables
*.exe
*.out
*.app
*.bin

# Sublime-text
*.sublime-project
*.sublime-workspace

# Build files
build/*.img
